# Игнорируем служебные папки Visual Studio
.vs/
bin/
obj/

# Игнорируем временные файлы
*.user
*.suo
*.cache
*.log

# Игнорируем файлы для индексации
*.vsidx
*.db
*.sqlite

# Игнорируем данные публикации
publish/
